.Container {
  text-align: center;
  margin: 0 20vw;
}

.light {
  background-color: #fff;
}

.pastel {
  background-color: #5F7161;
  color: white;
  border: white 1px solid;
}

.checked {
  text-decoration: red line-through;
  background-color: #F9F3EE;
  color: gray;
}

.pastel.checked {
  text-decoration: red line-through;
  color: gray;
  background-color: black;
}

ul {
  list-style-type: none;
}

ul li {
  width: 40vw;
  padding: 1vh 0;
  margin-top: 3vh;
  border: 1px solid rgb(229, 157, 157);
}

.todo-button {
  margin-top: 3vh;
}